doctype html
html
  head
    title Sk Dance academy
    block scripts
    block style 
        
  body
    nav#navbar
      ul
        div#logo
          img(src = "/static/img/logo.png")
          | skd 
        li #[a(href = "/") Home] 
        li #[a(href = "/about") About] 
        li #[a(href = "/") Services] 
        li #[a(href = "/") Class Info]
        li #[a(href = "/contact") contact us]
    block content
    footer#footer
      | copyight 2022 skdanceacademy.com | All rights reserved
